### **Data Wrangling**

**Problem Statement**: Data Wrangling on Real Estate Market

**Dataset**: "RealEstate_Prices.csv"

**Description**: The dataset contains information about housing prices in a specific real estate
market. It includes various attributes such as property characteristics, location, sale prices,
and other relevant features. The goal is to perform data wrangling to gain insights into the
factors influencing housing prices and prepare the dataset for further analysis or modeling.

**Tasks to Perform**:
1. Import the "RealEstate_Prices.csv" dataset. Clean column names by removing spaces,
special characters, or renaming them for clarity.
2. Handle missing values in the dataset, deciding on an appropriate strategy (e.g.,
imputation or removal).
3. Perform data merging if additional datasets with relevant information are available
(e.g., neighborhood demographics or nearby amenities).
4. Filter and subset the data based on specific criteria, such as a particular time period,
property type, or location.
5. Handle categorical variables by encoding them appropriately (e.g., one-hot encoding or
label encoding) for further analysis.
6. Aggregate the data to calculate summary statistics or derived metrics such as average
sale prices by neighborhood or property type.
7. Identify and handle outliers or extreme values in the data that may affect the analysis
or modeling process.

## ------------------------------------------------------------------------------------------------------------

## **Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd

## ------------------------------------------------------------------------------------------------------------

## **Task 1**

In [ ]:
df = pd.read_csv("RealEstate_Price.csv")

In [ ]:
df

,Home,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick,Neighborhood,Sales_date
0,1,114300.0,1790,2.0,2,2,No,East,15-01-2021
1,2,114200.0,2030,4.0,2,3,No,East,21-09-2022
2,3,114800.0,1740,3.0,2,1,No,East,13-03-2022
3,4,94700.0,1980,3.0,2,3,No,East,31-08-2021
4,5,119800.0,2130,3.0,3,3,No,East,31-08-2021
...,...,...,...,...,...,...,...,...,...
123,124,119700.0,1900,3.0,3,3,Yes,East,02-10-2022
124,125,147900.0,2160,4.0,3,3,Yes,East,13-03-2020
125,126,113500.0,2070,2.0,2,2,No,North,17-08-2021
126,127,149900.0,2020,3.0,3,1,No,West,15-05-2022
127,128,124600.0,2250,NaN,3,4,No,North,05-03-2020

In [ ]:
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(" ", "_")

## ------------------------------------------------------------------------------------------------------------

## **Task 2**

In [ ]:
df.isnull().sum()

Home            0
Price           4
SqFt            0
Bedrooms        4
Bathrooms       0
Offers          0
Brick           0
Neighborhood    0
Sales_date      0
dtype: int64

In [ ]:
price_mean = df['Price'].mean()
bedrooms_mode = df['Bedrooms'].mode()[0]

# Impute missing values with the mode
df['Price'].fillna(price_mean, inplace=True)
df['Bedrooms'].fillna(bedrooms_mode, inplace=True)

In [ ]:
df.isnull().sum()

Home            0
Price           0
SqFt            0
Bedrooms        0
Bathrooms       0
Offers          0
Brick           0
Neighborhood    0
Sales_date      0
dtype: int64

## ------------------------------------------------------------------------------------------------------------

## **Task 3 & 4**

In [ ]:
#Filter
filtered_df = df[df['Bedrooms'] <= 2]
filtered_df

,Home,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick,Neighborhood,Sales_date
0,1,114300.000000,1790,2.0,2,2,No,East,15-01-2021
11,12,123000.000000,1870,2.0,2,2,Yes,East,20-11-2021
18,19,111400.000000,1700,2.0,2,1,Yes,East,08-07-2021
28,29,69100.000000,1600,2.0,2,3,No,North,12-05-2020
31,32,112300.000000,1930,2.0,2,2,Yes,North,05-10-2022
34,35,130718.548387,2000,2.0,2,3,No,North,26-08-2022
36,37,117500.000000,1880,2.0,2,2,No,North,13-02-2021
42,43,105600.000000,1990,2.0,2,3,No,East,24-07-2020
46,47,129800.000000,1990,2.0,3,2,No,North,06-05-2022
48,49,115900.000000,1980,2.0,2,2,No,East,29-08-2020
51,52,130718.548387,1860,2.0,2,3,No,North,21-01-2021
52,53,117400.000000,2150,2.0,3,4,No,North,09-07-2021
55,56,125700.000000,1720,2.0,2,2,Yes,East,05-01-2022
61,62,100900.000000,1610,2.0,2,2,No,North,04-07-2020
63,64,120500.000000,1910,2.0,3,2,No,East,12-02-2020
65,66,111100.000000,1450,2.0,2,1,Yes,North,27-06-2022
75,76,106900.000000,1900,2.0,2,2,No,North,29-12-2021
82,83,164800.000000,2050,2.0,2,1,Yes,West,25-11-2021
84,85,90500.000000,1520,2.0,2,3,No,North,21-04-2021
89,90,97800.000000,2010,2.0,2,4,No,North,01-04-2021
95,96,152500.000000,1970,2.0,2,1,Yes,West,08-09-2021
97,98,126800.000000,2000,2.0,2,1,Yes,East,16-11-2020
110,111,111600.000000,1710,2.0,2,1,No,North,16-05-2020
111,112,114900.000000,1740,2.0,2,2,No,North,20-07-2020
112,113,123600.000000,1940,2.0,2,2,Yes,East,14-06-2020
119,120,109700.000000,1920,2.0,2,4,No,North,29-01-2021
120,121,110400.000000,1930,2.0,3,3,No,North,17-03-2021
122,123,144800.000000,2060,2.0,2,1,Yes,East,14-01-2020
125,126,113500.000000,2070,2.0,2,2,No,North,17-08-2021

In [ ]:
#Subset
subset_df = df[["Price", "SqFt", "Offers"]]
subset_df

        Price  SqFt  Offers
0    114300.0  1790       2
1    114200.0  2030       3
2    114800.0  1740       1
3     94700.0  1980       3
4    119800.0  2130       3
..        ...   ...     ...
123  119700.0  1900       3
124  147900.0  2160       3
125  113500.0  2070       2
126  149900.0  2020       1
127  124600.0  2250       4

[128 rows x 3 columns]

## ------------------------------------------------------------------------------------------------------------

## **Task 5**

In [ ]:
label_mapping = {"No": 0, "Yes": 1}
df['Brick'] = df['Brick'].map(label_mapping)

In [ ]:
df['Brick']

0      0
1      0
2      0
3      0
4      0
      ..
123    1
124    1
125    0
126    0
127    0
Name: Brick, Length: 128, dtype: int64

## ------------------------------------------------------------------------------------------------------------

## **Task 6**

In [ ]:
grouped_data = df.groupby(['Neighborhood'])['Price'].mean().reset_index()

In [ ]:
grouped_data

  Neighborhood          Price
0         East  124891.935484
1        North  111348.570381
2         West  159294.871795

## ------------------------------------------------------------------------------------------------------------

## **Task 7**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Home          128 non-null    int64
 1   Price         128 non-null    float64
 2   SqFt          128 non-null    int64
 3   Bedrooms      128 non-null    float64
 4   Bathrooms     128 non-null    int64
 5   Offers        128 non-null    int64
 6   Brick         128 non-null    int64
 7   Neighborhood  128 non-null    object
 8   Sales_date    128 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 9.1+ KB

In [ ]:
df['Price'] = df['Price'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Home          128 non-null    int64
 1   Price         128 non-null    int32
 2   SqFt          128 non-null    int64
 3   Bedrooms      128 non-null    float64
 4   Bathrooms     128 non-null    int64
 5   Offers        128 non-null    int64
 6   Brick         128 non-null    int64
 7   Neighborhood  128 non-null    object
 8   Sales_date    128 non-null    object
dtypes: float64(1), int32(1), int64(5), object(2)
memory usage: 8.6+ KB

In [ ]:
from scipy import stats

# Calculate the Z-scores for the 'fare_amount' column
df['z_score'] = stats.zscore(df['Price'])

# Define a threshold for identifying outliers (e.g., 3)
threshold = 3

# Create a boolean mask to identify outliers
outliers_mask = (df['z_score'] > threshold) | (df['z_score'] < -threshold)

# Extract the outliers
outliers = df[outliers_mask]

# Print the outliers
outliers

,Home,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick,Neighborhood,Sales_date,z_score
103,104,211200,2440,4.0,3,3,1,West,15-01-2020,3.038658

In [ ]:
df.loc[103, 'Price'] = df.loc[103, 'Price'] if df.loc[103, 'Price'] <= threshold else df['Price'].median()

In [ ]:
print("Result of the 'Price' column:")
df['Price']

Result of the 'Price' column:

0      114300
1      114200
2      114800
3       94700
4      119800
        ...
123    119700
124    147900
125    113500
126    149900
127    124600
Name: Price, Length: 128, dtype: int32

In [ ]:
from scipy import stats

# Calculate the Z-scores for the 'fare_amount' column
df['z_score'] = stats.zscore(df['Price'])

# Define a threshold for identifying outliers (e.g., 3)
threshold = 3

# Create a boolean mask to identify outliers
outliers_mask = (df['z_score'] > threshold) | (df['z_score'] < -threshold)

# Extract the outliers
outliers = df[outliers_mask]

# Print the outliers
outliers

Empty DataFrame
Columns: [Home, Price, SqFt, Bedrooms, Bathrooms, Offers, Brick, Neighborhood, Sales_date, z_score]
Index: []